
/* services_wrapper */
.services_wrapper{
    position: relative;
    display: flex;
    width: 100%;
    margin: 90px 0;
    min-height: 115px;
    border: 2px solid rgb(30, 30, 30);
    padding: 0 45px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.whitespace{
    background-color: white;
    position: absolute;
    top: -4px;
    left: calc(50% - (96% / 2));
    height: 5px;
    width: 96%;
}
.services_item{
    position: relative;
    max-width: 245px;
    min-width: 235px;
}
.services_item::after{
    content: "";
    position: absolute;
    top: 48px;
    left: 50px;
    display: block;
    height: 2px;
    width: 8px;
    background-color: lightgray;
}
.services_item, .services_item-des{
    display: flex;
}
.services_item-img{
    margin-right: 20px;
}
.services_item-des{
    flex-direction: column;
}
.services_item-img img{
    height: 30px;
    width: 30px;
}
.services_item{
    /* margin-right: 5px; */
}
.services_item .services_item-heading{
    font-size: 15px;
    font-weight: 700;
    color: rgba(30, 30, 30, 0.952);
}
.services_item .services_item-p{
    
    font-size: 12px;
    font-weight: 700;
    color: rgba(30, 30, 30, 0.748);
}
.footer_hr{
    margin: 0 0 10px 0;
    border: 0;
    border-bottom: 1px solid rgb(231, 228, 228);
}
/* 

.bin_img{
   
    height: 16px;
    width: 17px;
    background: center / contain no-repeat url(../../images/icons/bin.png);
} */

/* contacts */
.contacts{
    padding-bottom: 75px;
    padding-top: 75px;
}
.contacts_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}
.contacts_wrapper-links{
    display: flex;
    flex-wrap: wrap;
}
.link_item{
    
    padding: 10px;
    border: 1px solid lightgray ;
    border-right: 1px solid lightgray ;
}

.link_item.link_item:nth-last-child(6n+1){
    border-right:0px solid lightgray ;
}


.link_item:hover {
    background-color:  #e44645;
}
.link_item-img1{
    height: 16px;
    width: 17px;
    background: center / contain no-repeat url('../images/icons/twitter\ \(1\).png');
}
.link_item:hover .link_item-img1{
    background: center / contain no-repeat url('../images/icons/twitter.png');
}

.link_item-img2{
    height: 16px;
    width: 17px;
    background: center / contain no-repeat url('../images/icons/facebook\ \(1\).png');
}
.link_item:hover .link_item-img2{
    background: center / contain no-repeat url('../images/icons/facebook.png');
}

.link_item-img3{
    height: 16px;
    width: 17px;
    background: center / contain no-repeat url('../images/icons/linkedin.png');
}
.link_item:hover .link_item-img3{
    background: center / contain no-repeat url('../images/icons/linkedin.png');
}

.link_item-img4{
    height: 16px;
    width: 17px;
    background: center / contain no-repeat url('../images/icons/google-plus.png');
}
.link_item:hover .link_item-img4{
    background: center / contain no-repeat url('../images/icons/google-plus.png');
}

.link_item-img5{
    height: 16px;
    width: 17px;
    background: center / contain no-repeat url('../images/icons/pinterest\ \(1\).png');

}
.link_item:hover .link_item-img5{
    background: center / contain no-repeat url('../images/icons/pinterest.png');
}

.link_item-img6{
    height: 16px;
    width: 17px;
    background: center / contain no-repeat url('../images/icons/youtube.png');
}
.link_item:hover .link_item-img6{
    background: center / contain no-repeat url('../images/icons/youtube.png');
}

.link_item-img7{
    height: 16px;
    width: 17px;
    background: center / contain no-repeat url('../images/icons/spotify\ \(1\).png');
}
.link_item:hover .link_item-img7{
    background: center / contain no-repeat url('../images/icons/spotify.png');
}
/* footer */

.footer{
    display: flex;
    /* padding: 30px auto; */
    min-height: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: gray;
}
.footer p{
    opacity: .8;
    font-size: 10px;
    font-weight: 500;
}
.footer p span{
    font-weight: 700;
}
.footer_img{
    display: flex;
}

/* 
.footer_img-item1{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/visa.png');
}

.footer_img-item2{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/mastercard.png');
}

.footer_img-item3{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/mastercard\ \(1\).png');
}

.footer_img-item4{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/credit-card.png');
}

.footer_img-item5{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/visa.png');
}

.footer_img-item6{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/mastercard\ \(1\).png');
}
 */



/*  */
.contacts_wrapper-text, .contacts_wrapper_input, .contacts_wrapper-links{
    display: flex;
    justify-content: center;
}
.contacts_wrapper-links{
    border-right: 1px solid lightgray;
    justify-content: flex-end;

}
.contacts_wrapper-text{
    flex-direction: column;
}
.contacts_wrapper_input{
    
    width: 35%;
}
.contacts_wrapper_input form{
    width: 100%;
    position: relative;
    padding: 1px 0;
    display: flex;
    justify-content: center;
}
.contacts_wrapper_input input{
    width: 430px;
    display: inline-block;
    height: 44px;
    font-size: 14px;
    padding-left: 25px;
    font-weight: 500;
    color:rgba(29, 27, 27, 0.707);

}
.contacts_wrapper_input input::placeholder{
    font-size: 12px;
}

.contacts_wrapper-links, .contacts_wrapper-text{
    width: 32.5%;
}
.contacts_wrapper-text p{
    font-size: 13px;
    font-weight: 700;
    color:rgba(29, 27, 27, 0.707);
}
.envelope{
    background-color: white;
}
.envelope_img{
    width: 18px;    
    height: 18px;
    position: absolute;
    right:  15px;
    top: 14px;
    opacity: .4;
    z-index: 2;
}
.envelope{
    background-color: rgb(228, 226, 226);

}
#email {
    color: black;
    background-color: transparent;

   
  }
#email:invalid {
    background-color: #e4454545;
    color: rgb(179, 43, 43);
  }
#email:valid {
    border: 1px solid lightgray;
  }
  
.contacts{
    border-top: 3px solid rgba(182, 179, 179, 0.898);
    background-color: rgb(228, 226, 226);
}

@media (max-width: 1231px) {
    .envelope_img{
        position:unset;
        transform: translateX(300px);
    }
    .contacts_wrapper-text, .contacts_wrapper_input, .contacts_wrapper-links{
        display: flex;
        width: 100%;
        margin: 20px auto;
        justify-content: center;
        text-align: center;

    }
    .contacts_wrapper_input input{
        width: 320px;
    }
    
    .link_item.link_item:nth-last-child(6n+1){
        border-right: 1px solid lightgray ;
    }
    .contacts_wrapper-links{
        border-right: 0;

    }
    .footer{
        justify-content: space-around;
    }
}
@media(min-width:320px) and (max-width:505px) {
    .footer{
        justify-content: center;
    }
}
@media(min-width:320px) and (max-width:475px) {
    
    .contacts_wrapper_input input{
        width: 300px;
    }
}