
.footer_img-item1{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/visa.png');
}

.footer_img-item2{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/mastercard.png');
}

.footer_img-item3{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/mastercard\ \(1\).png');
}

.footer_img-item4{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/credit-card.png');
}

.footer_img-item5{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/visa.png');
}

.footer_img-item6{
    margin-right: 10px;
    height: 29px;
    width: 29px;
    background: center / contain no-repeat url('../images/icons/mastercard\ \(1\).png');
}
